extends layout
block head
	link(rel='canonical' href='https://getbootstrap.com/docs/5.0/examples/sign-in/')
	link(href='/css/password.css' rel='stylesheet')
block title
	title 更改密碼 | 帕金森氏症雲端檢測服務
block content
	div#cover.text-center
		.form-password
			form(action='/account/password' method='post')
				h1.h4.mb-3.fw-normal 變更密碼
				.form-floating
					input#oldpassword.form-control(type='password' placeholder='old_password' name='old_password' required)
					label(for='old_password') 舊密碼
				.form-floating
					input#newpassword.form-control(type='password' placeholder='new_password' name='new_password' required)
					label(for='new_password') 新密碼
				.form-floating
					input#confirmnewpassword.form-control(type='password' placeholder='_new_password' name='_new_password' required)
					label(for='_new_password') 新密碼確認
				a#button.btn.cancel.btn-lg.btn-primary(onclick="history.back()") 取消
				button#button.btn.chg.btn-lg.btn-primary(type='submit') 變更密碼