extends layout
block head
	link(rel='canonical' href='https://getbootstrap.com/docs/5.0/examples/sign-in/')
	link(href='/css/recover.css' rel='stylesheet')
block title
	title 忘記密碼 | 帕金森氏症雲端檢測服務
block content
	body.text-center
		main.form-register
			form(action='/account/recover' method='post')
				h1.h4.mb-3.fw-normal 忘記密碼
				.form-floating
					input#email.form-control(type='email' placeholder='email' name='email' required)
					label(for='email') 電子郵件
				if msg === 'recoverFailed'
					.alert.alert-danger 不存在的帳號(電子郵件)
				a.btn.cancel.btn-lg.btn-primary(href='/account/') 取消
				button.btn.chg.btn-lg.btn-primary(type='submit' href='/account/recover' methohd='post') 重設密碼
