doctype html
head
	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width, initial-scale=1')
	meta(name='description' content='')
	meta(name='author' content='Mark Otto, Jacob Thornton, and Bootstrap contributors')
	meta(name='generator' content='Hugo 0.84.0')
	title 註冊 | 帕金森氏症雲端檢測服務
	link(rel='canonical' href='https://getbootstrap.com/docs/5.0/examples/sign-in/')
	// Bootstrap core CSS
	link(href='/assets/dist/css/bootstrap.min.css' rel='stylesheet')
	style.
		.bd-placeholder-img {
		font-size: 1.125rem;
		text-anchor: middle;s
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
		}
		@media (min-width: 768px) {
		.bd-placeholder-img-lg {
		font-size: 3.5rem;
		}
		}
	// Custom styles for this template
	link(href='/css/signup.css' rel='stylesheet')

	// after convert html to pug, the body tag disappear
	// add "body.text-center", otherwise the elements in form will not be aligned
body.text-center
		main.form-register
			form(action='./account/register', method='post')
				h1.h4.mb-3.fw-normal 註冊
				.form-floating
					input#name.form-control(type='text', placeholder='name', name='name', required)
					label(for='name') 姓名
				.form-floating
					input#ID.form-control(type='text', placeholder='ID', name='ID', required)
					label(for='ID') 身分證字號
				.form-floating
					input#birthday.form-control(type='date', placeholder='birthday', name='birthday', required)
					label(for='birthday') 生日
				.form-floating
					input#email.form-control(type='email', placeholder='email', name='email', required)
					label(for='email') 信箱地址
				.form-floating
					input#password.form-control(type='password', placeholder='Password', name='password', required)
					label(for='password') 密碼
				.form-floating
					input#confirmpassword.form-control(type='password', placeholder='Confirm password', name='confirm password', required)
					label(for='confirmpassword') 密碼確認
				a.btn.cancel.btn-lg.btn-primary(href="/account/login") 取消
				button.btn.chg.btn-lg.btn-primary(type='submit') 註冊