doctype html
head
  meta(charset='utf-8')
  title 上傳系統
  // Mobile Specific Metas
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
  // Font
  link(rel='stylesheet' type='text/css' href='css/opensans-font.css')
  link(rel='stylesheet' type='text/css' href='fonts/material-design-iconic-font/css/material-design-iconic-font.min.css')
  // datepicker
  link(rel='stylesheet' type='text/css' href='css/jquery-ui.min.css')
  // Main Style Css
  link(rel='stylesheet' href='css/style.css')
.page-content
  .wizard-heading 上傳系統
  .wizard-v6-content
    .wizard-form
      form#form-register.form-register(action='#' method='post')
        #form-total
          // SECTION 1
          h2
            p.step-icon
              span 1
            span.step-text 個人資訊
          section
            .inner
              .form-heading
                h3 個人資訊 (Personal Info)
                span 1/3
              .form-row
                .form-holder
                  label.form-row-inner
                    input#first_name.form-control(type='text' name='first_name' required='true' )
                    span.label 名 (First Name)
                .form-holder
                  label.form-row-inner
                    input#last_name.form-control(type='text' name='last_name' required='')
                    span.label 姓 (Last Name)
              .form-row
                .form-holder
                  label.form-row-inner
                    input#phone.form-control(type='text' name='phone' required='')
                    span.label 電話 (Phone Number)
                .form-holder
                  label.form-row-inner
                    input#id.form-control(type='text' name='id' required='')
                    span.label 身分證字號 (ID)
              .form-row
                .form-holder
                  label.form-row-inner
                    label.special-label(for='gender') 性別 (Gender):
                    select#gender.form-control(name='gender')
                      option(value='男' selected='') 男
                      option(value='女') 女
                .form-holder
                  label.special-label-1(for='birth') 出生年月日 (Birthday)
                  input#birth.day(type='text' name='birth' placeholder='請選擇日期')
                  span.select-btn
                    i.zmdi.zmdi-chevron-down
              .form-row
                .form-holder.form-holder-2
                  label.form-row-inner
                    input#address.form-control(type='text' name='address' required='')
                    span.label 拍攝地址 (Location)
          // SECTION 2
          h2
            p.step-icon
              span 2
            span.step-text 上傳
          section
            .inner
              .form-heading
                h3 上傳影片 (Upload Video)
                span 2/3
              .form-row
                .form-holder.form-holder-2
                  label.special-label-1(for='types') 選擇檢測項目（Types）
                  select#types.form-control(name='types')
                    option(value='手指拍打' selected='') 手指拍打 (Finger Tapping)
                    option(value='手掌握合') 手掌握合 (Finger Tapping)
                    option(value='前臂迴旋') 前臂迴旋 (Finger Tapping)
                    option(value='抬腳') 抬腳 (Finger Tapping)
                  span.select-btn
                    i.zmdi.zmdi-chevron-down
              .form-row
                .form-holder.form-holder-2
                  label.special-label-1(for='day') 上傳日期 (Upload Date)
                  input#day.day(type='text' name='day' placeholder='請選擇日期')
                  span.select-btn
                    i.zmdi.zmdi-chevron-down
              .form-row
                .form-holder.form-holder-2
                  label.special-label-2(for='video') 選擇影片 (Choose Video)
                    input#video(name='video' style='display:none;' type='file' accept='video/x-msvideo,video/mp4,video/quicktime' required)
                    i.zmdi.zmdi-cloud-upload 
          // SECTION 3
          h2
            p.step-icon
              span 3
            span.step-text 確認
          section
            .inner
              .form-heading
                h3 確認資訊 (Comfirm Detail)
                span 3/3
              .table-responsive
                table.table
                  tbody
                    tr.space-row
                      th 全名 (Full Name):
                      td#fullname-val
                    tr.space-row
                      th 電話 (Phone Number):
                      td#phone-val
                    tr.space-row
                      th 性別 (Gender):
                      td#gender-val
                    tr.space-row
                      th 身分證字號 (ID):
                      td#id-val
                    tr.space-row
                      th 出生年月日 (Birthday):
                      td#birth-val
                    tr.space-row
                      th 拍攝地址 (Location):
                      td#address-val
                    tr.space-row
                      th 檢測項目 (Types):
                      td#types-val
                    tr.space-row
                      th 上傳日期 (Upload Date):
                      td#day-val
script(src='js/jquery-3.3.1.min.js')
script(src='js/jquery.steps.js')
script(src='js/jquery-ui.min.js')
script(src='js/main.js')
